* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 4em 8em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  height: 46px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

a:hover,
a:active {
  opacity: 0.8;
}

.gl-signin {
  background: #ea4335;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.fb-signin {
  background: #1877f2;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.tw-signin {
  background: #1d9bf0;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bk-btn {
  background: #3f3f3f;
  width: 100px;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
